<form method="post" action="{{ path('app_task_list_item_delete', {'id': task_list_item.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ task_list_item.id) }}">
    <button class="btn btn-delete">Delete</button>
</form>
