{% extends 'base.html.twig' %}

{% block title %}Edit TaskListItem{% endblock %}

{% block body %}
    <h1>Edit TaskListItem</h1>

    {{ include('task_list_item/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-primary" href="{{ path('app_task_list_item_index') }}">back to list</a>

    {{ include('task_list_item/_delete_form.html.twig') }}
{% endblock %}
