{% extends 'base.html.twig' %}

{% block title %}TaskListItem index{% endblock %}

{% block body %}
    <h1>TaskListItem index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Status</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for task_list_item in task_list_items %}
            <tr>
                <td>{{ task_list_item.id }}</td>
                <td>{{ task_list_item.name }}</td>
                <td>{{ task_list_item.description }}</td>
                <td>{{ task_list_item.status }}</td>
                <td>{{ task_list_item.createdAt }}</td>
                <td>{{ task_list_item.updatedAt }}</td>
                <td>
                    <a href="{{ path('app_task_list_item_show', {'id': task_list_item.id}) }}">show</a>
                    <a href="{{ path('app_task_list_item_edit', {'id': task_list_item.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_task_list_item_new') }}">Create new</a>
{% endblock %}
