{% extends 'base.html.twig' %}

{% block title %}New TaskListItem{% endblock %}

{% block body %}
    <h1>Create new TaskListItem</h1>

    {{ include('task_list_item/_form.html.twig') }}

    <a class="btn btn-primary btm-margin-top" href="{{ path('app_task_list_show', {'id': task_list_item.getTaskList.id}) }}">Back</a>
{% endblock %}
