{% extends 'base.html.twig' %}

{% block title %}TaskListItem{% endblock %}

{% block body %}
    <h1>TaskListItem</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ task_list_item.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ task_list_item.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ task_list_item.description }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ task_list_item.status }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ task_list_item.createdAt }}</td>
            </tr>
            <tr>
                <th>Updated_at</th>
                <td>{{ task_list_item.updatedAt }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_task_list_item_index') }}">back to list</a>

    <a class="btn btn-primary" href="{{ path('app_task_list_item_edit', {'id': task_list_item.id}) }}">edit</a>

    {{ include('task_list_item/_delete_form.html.twig') }}
{% endblock %}
