<form method="post" action="{{ path('app_task_list_delete', {'id': task_list.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ task_list.id) }}">
    <button class="btn btn-delete btm-margin-top">Delete task list</button>
</form>
