{% extends 'base.html.twig' %}

{% block title %}Edit TaskList{% endblock %}

{% block body %}
    <h1>Edit TaskList</h1>

    {{ include('task_list/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-primary btm-margin-top" href="{{ path('app_main') }}">back to list</a>

    {{ include('task_list/_delete_form.html.twig') }}
{% endblock %}
