{% extends 'base.html.twig' %}

{% block title %}TaskList index{% endblock %}

{% block body %}
    <h1>TaskList index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Status</th>
            <th>Created At</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for task_list in task_lists %}
            <tr>
                <td>{{ task_list.id }}</td>
                <td>
                    <a href="{{ path('app_task_list_show', {'id': task_list.id}) }}">
                        {{ task_list.name }}
                    </a>
                </td>
                <td>{{ task_list.status ? 'Complete' : 'Active' }}</td>
                <td>{{ task_list.createdAt|date("Y-m-d H:i:s") }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_task_list_show', {'id': task_list.id}) }}">
                        show
                    </a>
                    <a class="btn btn-primary" href="{{ path('app_task_list_edit', {'id': task_list.id}) }}">
                        edit
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary btm-margin-top" href="{{ path('app_task_list_new') }}">Create new</a>
{% endblock %}
