{% extends 'base.html.twig' %}

{% block title %}New TaskList{% endblock %}

{% block body %}
    <h1>Create new TaskList</h1>

    {{ include('task_list/_form.html.twig') }}

    <a class="btn btn-primary btm-margin-top" href="{{ path('app_main') }}">back to list</a>
{% endblock %}
