{% extends 'base.html.twig' %}

{% block title %}TaskList{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/taskList.js') }}"></script>
{% endblock %}

{% block body %}
    <h1>TaskList</h1>

    <h3>{{ task_list.name }}</h3>
    <ul class="todo-list-items">
        {% for taskListItem in task_list.taskListItems %}
            <li>
                <div class="task-list-item-checkbox">
                    <input
                            data-id="{{ taskListItem.id }}"
                            data-token="{{ csrf_token(taskListItem.id ~ 'change-status') }}"
                            type="checkbox"
                            value="{{ taskListItem.status == 1 }}"
                            {{ taskListItem.status == 1 ? ' checked="checked"' : '' }}"
                    >
                </div>
                <div class="task-list-item-name">
                    {{ taskListItem.name }}
                </div>

                <div class="task-list-item-description">
                    {{ taskListItem.description }}
                </div>

                <div class="task-list-item-delete">
                    {{ include('task_list_item/_delete_form.html.twig', {'task_list_item': taskListItem}) }}
                </div>
            </li>
        {% endfor %}
    </ul>

    <a class="btn btn-primary" href="{{ path('app_task_list_item_new', {'id': task_list.id}) }}">
        Add task to list
    </a>

    <a class="btn btn-primary" href="{{ path('app_main') }}">Back</a>

    <a class="btn btn-primary" href="{{ path('app_task_list_edit', {'id': task_list.id}) }}">Edit</a>

    {{ include('task_list/_delete_form.html.twig') }}
{% endblock %}
