body {
    user-select: none;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

.content {
    width: 600px;
}

.content h1, .content h3 {
    text-align: center;
}

table {
    display: table;
    border-collapse: collapse;
    border-spacing: 2px;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 5px;
    width: 100%;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit
}

tfoot {
    display: table-footer-group;
    vertical-align: middle;
    border-color: inherit
}

table > tr {
    vertical-align: middle;
}

col {
    display: table-column
}

colgroup {
    display: table-column-group
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    text-align: center;
}

td, th {
    display: table-cell;
    vertical-align: inherit;
    padding: 5px 10px;
    border: 1px solid #ccc;
}

th {
    font-weight: bold
}

caption {
    display: table-caption;
    text-align: -webkit-center
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 0 5px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 5px;
    text-decoration: none;
}

.btn:hover {
    box-shadow: 1px 1px 4px grey;
    cursor: pointer;
}

.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-delete {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btm-margin-top {
    margin-top: 10px;
}

input {
    padding: 4px 5px;
}

label {
    padding: 5px 10px 5px 2px;
    width: 100px;
    text-align: left;
    display: inline-block;
}

form div {
    margin: 10px 0;
}

.todo-list-items {
    padding: 5px 0;
}

.todo-list-items li {
    display: flex;
    justify-content: flex-start;
    background-color: #f0f8ff;
    padding: 5px 10px;
    align-items: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.todo-list-items li:nth-child(even) {
    background-color: #e2eefa;
}

tbody tr:nth-child(even) {
    background-color: #f0f8ff;
}

tbody tr:nth-child(odd) {
    background-color: #e2eefa;
}

thead tr {
    background-color: #f0f8ff;
}

.todo-list-items li>div {
    padding: 5px 10px;
}

.task-list-item-checkbox {
    width: 50px;
}

.task-list-item-name {
    width: 150px;
}

.task-list-item-description {
    width: 300px;
}

.task-list-item-delete {
    width: 100px;
}